.top {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copy {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.menu:link {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.menu:hover {
	FONT-SIZE: 10px; COLOR: #0000ff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:active {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.nav:link {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.nav:visited {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.nav:hover {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff3333; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
A.nav:active {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.nbv:link {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: white 1px solid; COLOR: #ffffff; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #1a5a94; TEXT-DECORATION: none
}
A.nbv:visited {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: white 1px solid; COLOR: #ffffff; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #1a5a94; TEXT-DECORATION: none
}
A.nbv:hover {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: white 1px solid; COLOR: #ff3333; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
A.nbv:active {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: white 1px solid; COLOR: #0000ff; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ddeeff; TEXT-DECORATION: none
}
.men {
	FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}
.mex {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #888888; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
PRE {
	BORDER-RIGHT: #888888 1px dashed; PADDING-RIGHT: 6px; BORDER-TOP: #888888 1px dashed; PADDING-LEFT: 6px; FONT-SIZE: 12px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 6px; MARGIN: 4px; BORDER-LEFT: #888888 1px dashed; PADDING-TOP: 6px; BORDER-BOTTOM: #888888 1px dashed
}
.na {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: white 1px solid; COLOR: #ff3333; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.nax {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nay {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.var {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.bot {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.ab {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial
}
.na2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.x:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0000bb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.x:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0000bb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.x:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ccccff; TEXT-DECORATION: none
}
A.x:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.links:link {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.links:visited {
	FONT-SIZE: 8pt; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.links:hover {
	FONT-SIZE: 8pt; COLOR: #ffff00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.links:active {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.tg:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #339933; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.tg:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #339933; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.tg:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; BACKGROUND-COLOR: #e0f0e0; TEXT-DECORATION: none
}
A.tg:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #339933; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.tgx {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #339933; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.con {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.mcon {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.mag:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: Arial
}
A.mag:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #444444; FONT-FAMILY: Arial
}
A.mag:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: Arial; BACKGROUND-COLOR: #dddddd
}
A.mag:active {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: Arial
}
.topt {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
.uli {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; PADDING-LEFT: 15px; LIST-STYLE-IMAGE: url(/mx.gif); MARGIN-LEFT: 0px; BORDER-LEFT: #555555 1px solid; LINE-HEIGHT: 14px; BORDER-BOTTOM: #555555 1px solid; BACKGROUND-COLOR: #f8f8f8
}
.liad {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; PADDING-LEFT: 15px; LIST-STYLE-IMAGE: url(/mx.gif); MARGIN-LEFT: 0px; BORDER-LEFT: #555555 1px solid; LINE-HEIGHT: 14px; BORDER-BOTTOM: #555555 1px solid; BACKGROUND-COLOR: #f8f8f8
}
#artemia {
	WIDTH: 160px; POSITION: absolute
}
.capmenu {
	BACKGROUND-IMAGE: url(/home/cap_button2.png)
}
H1 {
	FONT-SIZE: 17px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
