HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
CAPTION {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
PRE {
	FONT-FAMILY: MS Courier New, Courier, monospace
}
CODE {
	FONT-FAMILY: MS Courier New, Courier, monospace
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #336699
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #336699
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #336699
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699
}
DIV.fnnum {
	FONT-SIZE: 9pt
}
DIV.fntext {
	FONT-SIZE: 9pt
}
TD.uititle {
	FONT-WEIGHT: bold
}
SPAN.uititle {
	FONT-WEIGHT: bold
}
SPAN.sectiontitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.exampletitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.prereqtitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.contexttitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.stepstitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.resulttitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.postreqtitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.propertiestitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.menupathtitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.menubartitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.toolbarstitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.popupmenutitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.uifieldstitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.uiactionstitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.actiontabletitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.attributetabletitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.problemtitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.investigationtitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.reltopictitle {
	FONT-WEIGHT: bold; COLOR: #336699
}
SPAN.attentiontitle {
	FONT-WEIGHT: bold
}
SPAN.cautiontitle {
	FONT-WEIGHT: bold
}
SPAN.dangertitle {
	FONT-WEIGHT: bold
}
SPAN.notetitle {
	FONT-WEIGHT: bold
}
SPAN.warningtitle {
	FONT-WEIGHT: bold
}
SPAN.cmdexctitle {
	FONT-WEIGHT: bold
}
SPAN.cmdrslttitle {
	FONT-WEIGHT: bold
}
DIV.notelisttitle {
	FONT-WEIGHT: bold
}
SPAN.uigrouptitle {
	FONT-WEIGHT: bold
}
TD.caution {
	FONT-WEIGHT: bold
}
TD.danger {
	FONT-WEIGHT: bold
}
SPAN.glossary {
	FONT-STYLE: italic
}
DT.action {
	FONT-WEIGHT: bold
}
DT.condition {
	FONT-WEIGHT: bold
}
DT.alternative {
	FONT-WEIGHT: bold
}
SPAN.responsetitle {
	FONT-STYLE: italic
}
SPAN.causetitle {
	FONT-STYLE: italic
}
SPAN.backgroundtitle {
	FONT-STYLE: italic
}
BODY {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: black; PADDING-TOP: 0.2em; BACKGROUND-COLOR: white
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.75em 0px; LINE-HEIGHT: 125%; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.75em 0px; LINE-HEIGHT: 125%; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.75em 0px; LINE-HEIGHT: 125%; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.75em 0px; LINE-HEIGHT: 125%; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.75em 0px; LINE-HEIGHT: 125%; PADDING-TOP: 0px
}
TD DL {
	MARGIN-LEFT: 2em
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.75em 0px 0.75em 2em; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.75em 0px 0.75em 2em; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.75em 0px 0.75em 2em; PADDING-TOP: 0px
}
DD {
	MARGIN-TOP: 0.75em; MARGIN-BOTTOM: 0.75em; LINE-HEIGHT: 125%
}
DIV.section {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.example {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.prereq {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.context {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.steps {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.result {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.postreq {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.properties {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.menupath {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.menubar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.toolbars {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.popupmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.uifields {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.uiactions {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.actiontable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.attributetable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.problem {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.investigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.menubar {
	PADDING-RIGHT: 0px; BORDER-TOP: #8cb1c1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.toolbars {
	PADDING-RIGHT: 0px; BORDER-TOP: #8cb1c1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.popupmenu {
	PADDING-RIGHT: 0px; BORDER-TOP: #8cb1c1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.uifields {
	PADDING-RIGHT: 0px; BORDER-TOP: #8cb1c1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.uiactions {
	PADDING-RIGHT: 0px; BORDER-TOP: #8cb1c1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.actiontable {
	PADDING-RIGHT: 0px; BORDER-TOP: #8cb1c1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.attributetable {
	PADDING-RIGHT: 0px; BORDER-TOP: #8cb1c1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.reltopic {
	PADDING-RIGHT: 0px; BORDER-TOP: #8cb1c1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.msgmodules DIV.msg {
	PADDING-RIGHT: 0px; BORDER-TOP: #8cb1c1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.75em; PADDING-TOP: 0px
}
DIV.msgmodules DIV.msg DIV.reltopic {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TABLE {
	BORDER-RIGHT: #8cb1d1 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #8cb1d1 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #8cb1d1 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #8cb1d1 1px solid; BORDER-COLLAPSE: collapse
}
TR {
	BORDER-LEFT-COLOR: #8cb1d1; BORDER-BOTTOM-COLOR: #8cb1d1; BORDER-TOP-COLOR: #8cb1d1; BORDER-RIGHT-COLOR: #8cb1d1
}
TD {
	BORDER-LEFT-COLOR: #8cb1d1; BORDER-BOTTOM-COLOR: #8cb1d1; BORDER-TOP-COLOR: #8cb1d1; BORDER-RIGHT-COLOR: #8cb1d1
}
TABLE.uiiconlist TD {
	PADDING-BOTTOM: 0.25em
}
TABLE.uinestedlist TD {
	PADDING-BOTTOM: 0.25em
}
TABLE.uibasiclist TD {
	PADDING-BOTTOM: 0.25em
}
TABLE.layout TD {
	PADDING-BOTTOM: 0.25em
}
TD.uisubindent {
	WIDTH: 4em
}
TABLE.uiiconlist {
	BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; MARGIN: 0px 0px 0.75em; BORDER-TOP-COLOR: white; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: white; border-spacing: 0
}
TABLE.uinestedlist {
	BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; MARGIN: 0px 0px 0.75em; BORDER-TOP-COLOR: white; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: white; border-spacing: 0
}
TABLE.uibasiclist {
	BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; MARGIN: 0px 0px 0.75em; BORDER-TOP-COLOR: white; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: white; border-spacing: 0
}
TABLE.layout {
	BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; MARGIN: 0px 0px 0.75em; BORDER-TOP-COLOR: white; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: white; border-spacing: 0
}
TABLE.uiiconlist TR {
	BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; BORDER-TOP-COLOR: white; BORDER-RIGHT-COLOR: white
}
TABLE.uinestedlist TR {
	BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; BORDER-TOP-COLOR: white; BORDER-RIGHT-COLOR: white
}
TABLE.uibasiclist TR {
	BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; BORDER-TOP-COLOR: white; BORDER-RIGHT-COLOR: white
}
TABLE.layout TR {
	BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; BORDER-TOP-COLOR: white; BORDER-RIGHT-COLOR: white
}
TABLE.uibasiclist TR.xlight {
	BACKGROUND-COLOR: transparent
}
TABLE.uiiconlist TR.xlight {
	BACKGROUND-COLOR: transparent
}
TABLE.uinestedlist TR.xlight {
	BACKGROUND-COLOR: transparent
}
THEAD TR {
	BACKGROUND-COLOR: #b5c5dd
}
TR.xlight {
	BACKGROUND-COLOR: #b5c5dd
}
UL {
	LIST-STYLE-TYPE: disc
}
UL.uigrouplist {
	LIST-STYLE-TYPE: none
}
P.copyrightnotice {
	MARGIN-TOP: 2em; FONT-SIZE: 8pt; COLOR: #336699; TEXT-ALIGN: center
}
P.copyrightnotice A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
P.copyrightnotice A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
P.copyrightnotice A:hover {
	COLOR: #336699; TEXT-DECORATION: underline
}
DIV.copyrightnotice {
	MARGIN-TOP: 0.75em; FONT-SIZE: 7pt; COLOR: #336699; TEXT-ALIGN: left
}
DIV.copyrightnotice A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
DIV.copyrightnotice A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
DIV.copyrightnotice A:hover {
	COLOR: #336699; TEXT-DECORATION: none
}
DIV.runningfooter {
	MARGIN-TOP: 3em; FONT-SIZE: 7pt; COLOR: #336699; TEXT-ALIGN: left
}
DIV.runningfooter A:link {
	
}
DIV.runningfooter A:active {
	
}
DIV.runningfooter A:visited {
	
}
DIV.runningfooter A:hover {
	
}
DIV.objframe {
	BORDER-RIGHT: #8cb1c1 1px solid; PADDING-RIGHT: 1.5em; BORDER-TOP: #8cb1c1 1px solid; PADDING-LEFT: 1.5em; PADDING-BOTTOM: 1.5em; BORDER-LEFT: #8cb1c1 1px solid; PADDING-TOP: 1.5em; BORDER-BOTTOM: #8cb1c1 1px solid
}
DIV.objframe DL {
	MARGIN-LEFT: 4em
}
DIV.objframe TABLE.layout {
	MARGIN-LEFT: 4em
}
DIV.msg {
	PADDING-RIGHT: 0px; BORDER-TOP: medium none; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.msgnum {
	MARGIN-BOTTOM: 0px; COLOR: #336699
}
DIV.msgitem {
	MARGIN-TOP: 0.75em; PADDING-LEFT: 2em; MARGIN-BOTTOM: 0.75em
}
DIV.action {
	MARGIN-TOP: 0.75em; PADDING-LEFT: 2em; MARGIN-BOTTOM: 0.75em
}
DIV.msgitemtitle {
	FONT-WEIGHT: bold; MARGIN-LEFT: -2em; COLOR: #336699
}
DIV.ledi {
	MARGIN-LEFT: 2em
}
DIV.ledesc {
	MARGIN-LEFT: 0px
}
DIV.ledi H4 {
	MARGIN-LEFT: -2em
}
CAPTION {
	FONT-STYLE: normal; TEXT-ALIGN: left
}
.tbldesc {
	FONT-STYLE: normal
}
A.navtreebtn {
	DISPLAY: none
}
SPAN.mv {
	FONT-STYLE: italic
}
SPAN.md {
	TEXT-DECORATION: line-through
}
SPAN.pk {
	FONT-WEIGHT: bold
}
SPAN.pkdef {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
SPAN.pv {
	FONT-STYLE: italic
}
SPAN.pvdef {
	FONT-STYLE: italic; TEXT-DECORATION: underline
}
SPAN.kwd {
	FONT-WEIGHT: bold
}
SPAN.kdwdef {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
SPAN.oper {
	FONT-STYLE: normal
}
SPAN.operdef {
	TEXT-DECORATION: underline
}
SPAN.var {
	FONT-STYLE: italic
}
SPAN.vardef {
	FONT-STYLE: italic; TEXT-DECORATION: underline
}
DIV.fnnum {
	FLOAT: left
}
DIV.fntext {
	MARGIN-LEFT: 2em
}
DIV.stepl {
	MARGIN-LEFT: 2em
}
DIV.steplnum {
	FLOAT: left
}
DIV.stepltext {
	MARGIN-LEFT: 5em
}
UL.simple {
	LIST-STYLE-TYPE: none
}
SPAN.pblktitle {
	FONT-WEIGHT: bold
}
DIV.pblklblbox {
	BORDER-RIGHT: thin solid; PADDING-RIGHT: 5px; BORDER-TOP: thin solid; MARGIN-TOP: 2px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: thin solid; PADDING-TOP: 5px; BORDER-BOTTOM: thin solid
}
SPAN.ednoticestitle {
	FONT-WEIGHT: bold
}
SPAN.term {
	FONT-WEIGHT: bold
}
SPAN.idxshow {
	COLOR: green
}
DIV.code {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 1em
}
DIV.msgtext {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 1em
}
P.msgitem {
	MARGIN-TOP: 0em
}
SPAN.version {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
SPAN.release {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
SPAN.refkey {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: black
}
TT.apl {
	FONT-STYLE: italic
}
SPAN.figcap {
	FONT-STYLE: italic
}
SPAN.figdesc {
	FONT-STYLE: italic
}
DIV.qualifstart {
	BORDER-RIGHT: thin solid; PADDING-RIGHT: 5px; BORDER-TOP: thin solid; MARGIN-TOP: 2px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BORDER-BOTTOM-WIDTH: thin; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 5px; BORDER-LEFT: thin solid; PADDING-TOP: 1px; TEXT-ALIGN: center
}
DIV.qualifend {
	BORDER-TOP-WIDTH: thin; BORDER-RIGHT: thin solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: thin solid; PADDING-TOP: 5px; BORDER-BOTTOM: thin solid; TEXT-ALIGN: center
}
SPAN.breadcrumbs {
	FONT-SIZE: 8pt
}
DIV.mmobj {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
DIV.mmobjleft {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em; TEXT-ALIGN: left
}
DIV.mmobjcenter {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em; TEXT-ALIGN: center
}
DIV.mmobjright {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em; TEXT-ALIGN: right
}
PRE.screen {
	BORDER-RIGHT: outset; PADDING-RIGHT: 5px; BORDER-TOP: outset; MARGIN-TOP: 2px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: outset; PADDING-TOP: 5px; BORDER-BOTTOM: outset; BACKGROUND-COLOR: #cccccc
}
.base {
	FONT-WEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.italic {
	FONT-STYLE: italic
}
.bold {
	FONT-WEIGHT: bold
}
.underlined {
	TEXT-DECORATION: underline
}
.bold-italic {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.smallcaps {
	FONT-VARIANT: small-caps
}
.italic-underlined {
	FONT-STYLE: italic; TEXT-DECORATION: underline
}
.bold-underlined {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.bold-italic-underlined {
	FONT-WEIGHT: bold; FONT-STYLE: italic; TEXT-DECORATION: underline
}
.smallcaps-underlined {
	FONT-VARIANT: small-caps; TEXT-DECORATION: underline
}
.noshade {
	BACKGROUND-COLOR: transparent
}
.light {
	BACKGROUND-COLOR: #b0b0b0
}
.medium {
	BACKGROUND-COLOR: #8c8c8c
}
.dark {
	BACKGROUND-COLOR: #6e6e6e
}
.xdark {
	BACKGROUND-COLOR: #585858
}
#changed {
	FONT-WEIGHT: normal; LEFT: 1px; COLOR: black; FONT-STYLE: normal; POSITION: absolute; BACKGROUND-COLOR: white
}
UNKNOWN {
	FONT-WEIGHT: bold
}
.filepath {
	FONT-WEIGHT: bold
}
SPAN.cmdname {
	FONT-WEIGHT: bold
}
.hilightbar {
	FONT-WEIGHT: bold; BACKGROUND: #cccccc; COLOR: #ffffff
}
.hilightbarlink {
	FONT-WEIGHT: bold; BACKGROUND: #cccccc
}
.interactivetablebar {
	BACKGROUND: #6699cc; COLOR: #ffffff
}
.tablemainheaderbar {
	BACKGROUND: #6699cc; COLOR: #ffffff
}
.tablesubheaderbar {
	BACKGROUND: #99ccff
}
.oddrowgrey {
	BACKGROUND: #e4e4e4
}
.oddrowblue {
	BACKGROUND: #cce5ff
}
.checklistbar {
	BACKGROUND: #6699cc; COLOR: #ffffff
}
.scenariobar {
	BACKGROUND: #6699cc; COLOR: #ffffff
}
.sectionscenariobar {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold; FONT-SIZE: 12pt; BACKGROUND: #6699cc; MARGIN-BOTTOM: 0em; COLOR: #ffffff
}
.finderbar {
	BACKGROUND: #6699cc; COLOR: #ffffff
}
.advisorbar {
	BACKGROUND: #6699cc; COLOR: #ffffff
}
.frontendbar {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: #6699cc; MARGIN-BOTTOM: 0.25em; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 0px
}
.frontendbarlink {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: #cce5ff; MARGIN-BOTTOM: 0.25em; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 0px
}
.cmdname {
	FONT-WEIGHT: bold
}
.option {
	FONT-WEIGHT: bold
}
.filepath {
	FONT-WEIGHT: bold
}
.accentgraphic {
	FLOAT: left
}
TD.uitext {
	VERTICAL-ALIGN: top; COLOR: #336699
}
SPAN.uitext {
	VERTICAL-ALIGN: top; COLOR: #336699
}
TD.welcometitle {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em
}
SPAN.welcometitle {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em
}
.highlightregion {
	BORDER-RIGHT: #336699 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #336699 1px solid; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #336699 1px solid; COLOR: #336699; PADDING-TOP: 4px; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #f4f6fb
}
.ast {
	COLOR: #f30
}
.address {
	MARGIN-LEFT: 2em
}
UL.faqtoc LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
TD.qanda {
	TEXT-ALIGN: right
}
.backtotop {
	FONT-SIZE: 0.8em; TEXT-ALIGN: right
}
